#backtotop-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 1000px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
    z-index: 1000;
    box-shadow: 0px 0px 20px rgba($color: darken($primary, 20%), $alpha: 0.5);
    transform: translateY(300px);
}

#backtotop-button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 50px;
    color: #fff;
}

#backtotop-button:hover {
    cursor: pointer;
    background-color: darken($primary, 10%);
    text-decoration: none;
}

#backtotop-button:active {
    background-color: darken($primary, 20%);
}

#backtotop-button.show {
    transform: translateY(0px);

    &:hover {
        transform: scale(1.2);
    }
}