.btn-utama {
    display: inline-block;
    padding: 12px 40px;
    background: $gradient-signature;
    border-radius: 50px;
    color: white;
    font-family: 'Neue Bold';
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px rgba($color: #0184F9, $alpha: 0.15);
    border: 2px solid none;

    &:hover {
        transform: translateY(5px);
        background: $secondary;
        text-decoration: none;
        color: #fff;
    }
}

.btn-kedua {
    display: inline-block;
    padding: 12px 40px;
    background: none;
    border-radius: 50px;
    color: white;
    font-family: 'Neue Bold';
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px rgba($color: #fff, $alpha: 0.1);
    border: 2px solid #fff;

    &:hover {
        transform: translateY(5px);
        background: $secondary;
        border: 2px solid $secondary;
        text-decoration: none;
        color: #fff;
        box-shadow: 0px 0px 20px 5px rgba($color: #0184F9, $alpha: 0.15);
    }
}