.btn-satu {
    padding: 14px 28px;
    background: $primary;
    border: 2px solid $primary;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: #fff;
    display: inline-flex;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);

    &:hover {
        background: darken($primary, 10%);
        border: 2px solid darken($primary, 10%);
        color: #fff;
        text-decoration: none;
        transform: scale(1.1);

        svg {
            fill: #fff;
            transform: scale(1.1);
        }
    }

    svg {
        transition: all 0.3s ease;
        margin-right: 10px;
        width: 20px;
        fill: white;
    }
}

.btn-dua-ml {
    padding: 14px 28px;
    background: $primary;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: #fff;
    display: inline-flex;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);

    &:hover {
        background: #fff;
        text-decoration: none;
        transform: scale(1.1);

        svg {
            fill: $primary;
            transform: scale(1.1);
        }
    }

    svg {
        transition: all 0.3s ease;
        margin-left: 10px;
        width: 20px;
        fill: white;
    }
}

.btn-dua {
    padding: 14px 28px;
    background: $primary;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: #fff;
    display: inline-flex;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);

    &:hover {
        background: #fff;
        text-decoration: none;
        transform: scale(1.1);

        svg {
            fill: $primary;
            transform: scale(1.1);
        }
    }

    svg {
        transition: all 0.3s ease;
        margin-right: 10px;
        width: 20px;
        fill: white;
    }
}

.btn-tiga {
    padding: 14px 28px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: $primary;
    display: inline-flex;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);

    &:hover {
        background: #fff;
        text-decoration: none;
        transform: scale(1.1);

        svg {
            transform: scale(1.1);
        }
    }

    svg {
        transition: all 0.3s ease;
        margin-right: 10px;
        width: 20px;
        fill: white;
    }
}

.btn-empat {
    padding: 14px 28px;
    background: #fff;
    border: 2px solid $primary;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    color: $primary;
    display: inline-flex;
    transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);

    &:hover {
        background: $primary;
        text-decoration: none;
        transform: scale(1.1);
        color: #fff;

        svg {
            transform: scale(1.1);
            fill: #fff;
        }
    }

    svg {
        transition: all 0.3s ease;
        margin-right: 10px;
        width: 20px;
        fill: $primary;
    }
}