// Font Family
@font-face {
    font-family: Neue Book;
    src: url(../font/MaisonNeueExtendedBook.woff);
}

@font-face {
    font-family: Neue Bold;
    src: url(../font/MaisonNeueExtendedBold.woff);
}

@font-face {
    font-family: Neue Extrabold;
    src: url(../font/MaisonNeueExtendedExtraBold.woff);
}