.footer {
    padding: 60px 0px;
    background: $dark;
    color: $lightDarken;

    hr {
        background: $light;
    }

    a:hover {
        color: $light;
    }

    &-right {
        a {
            color: $lightDarken;
            text-decoration: underline;
        }

        line-height: 30px;
    }

    h4 {
        margin-bottom: 30px;
        color: $light;
    }

    ul {
        li {
            list-style: none;

            a {
                line-height: 30px;
                color: $lightDarken;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}