.projects {
    margin: 60px 0px;

    & &-header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .projects-line {
            background-color: $primary;
            height: 3px;
            width: 60%;
            border-radius: 100px;
            display: block;
        }
    }

    & &-button {
        text-align: center;
        margin: 15px 0px;
        height: 88%;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        z-index: 5;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            background: $primary;
            border-radius: 20px;
            color: white;
            transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);

            h3 {
                margin-top: 10px;
                transition: all 0.3s ease;
            }

            svg {
                width: 59px;
                transition: all 0.3s ease;
            }

            &:hover {
                text-decoration: none;
                transform: scale(1.2);
                background: darken($primary, 10%);
            }
        }

    }

    & &-box {
        margin: 15px 0px;

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            z-index: 5;
            transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);

            &:hover {
                border-radius: 0;
                transform: scale(1.2);
                z-index: 6;
                cursor: pointer;
                box-shadow: 0 40px 60px 0 rgba(0, 0, 0, .2);
            }
        }
    }
}