@media (max-width:768px) {

    .wrapper {
        ul {
            padding: 0px;
        }
    }

    .menu-btn {
        right: 20px;
        top: 20px;
    }

    .projects-line {
        width: 30% !important;
    }

    h1 {
        font-size: 26px;
        line-height: 40px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    .btn-utama,
    .btn-kedua {
        padding: 8px 20px;
        font-size: 12px;
    }

    .leftnavbar {
        left: 20px;
        top: 20px;
    }

    .project-box {
        width: 100%;
    }

    .section-title {
        margin-bottom: 15px;
    }

    .offer {
        margin: 60px 0px;

        & &-box-left {
            text-align: center;
            padding: 10px;
        }

        & &-box-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;

            .btn-utama {
                margin-top: 10px;
            }

            .btn-kedua {
                margin-top: 10px;
            }
        }
    }

    .tools {
        margin: 60px 0px;
    }

    .about {
        & &-left {
            text-align: center;
            margin: 0px;
            margin-top: 30px;
        }

        & &-right {
            margin: 0px;
            margin-top: 30px;
            text-align: center;
        }

        .social-media {
            text-align: center;

            img {
                padding: 0px 6px;
            }
        }
    }

    .offer {
        margin: 60px 0px;
        padding: 0px;

        & &-content {
            padding: 40px;
            text-align: center;
            display: flex;
            flex-direction: column;

            .btn-dua {
                margin: 0px;
                margin: 16px 0px;
            }
        }
    }

    .tools {
        margin: 30px 0px;
        margin-top: 60px;

        & &-icon {
            margin-top: 15px;

            img {
                width: 50px;
            }
        }

        .logo {
            margin: 4px;
            width: 50px;
            height: 50px;
        }
    }

    .footer {
        text-align: center;
        margin-top: 60px;
    }

    .details {
        .btn-satu {
            margin-right: 0px !important;
            margin-bottom: 8px;
        }

        .btn-satu,
        .btn-empat {
            text-align: center;
            display: block;
        }
    }
}