@media (max-width:768px) {

    h1 {
        font-size: 24px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    h3 {
        font-size: 16px !important;
    }

    p {
        font-size: 14px !important;
    }


    .navbar {
        padding: 20px !important;

        &-nav {
            height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: column;

            .nav-item {
                padding: 25px 0px !important;
            }
        }

        &-brand {
            img {
                width: 150px;
            }
        }

        .nav-item {
            &::after {
                display: none !important;
            }
        }
    }

    .jumbotron {
        margin-top: 80px;
    }

    .section-head {
        text-align: center;
    }

    .tools {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            padding: 10px !important;
        }
    }

    .hire {
        &-left {
            justify-content: center;
            text-align: center !important;
            margin-bottom: 30px;
        }

        &-right {
            display: block;

            .btn {
                display: block;
                margin: 0;
                margin: auto;
                width: 80%;

                &-secondary {
                    margin-top: 15px;
                }
            }
        }
    }

    .footer {
        text-align: center;
    }
}