.tools {
    & &-header {
        text-align: center;
    }

    & &-line {
        display: block;
        height: 3px;
        background: $primary;
        width: 15%;
        border-radius: 1000px;
        margin: auto;
        margin-top: 10px;
    }

    & &-icon {
        margin-top: 30px;

        img {
            margin: 7px;
            margin-top: 30px;
            border-radius: 10px;
            transition: all 400ms cubic-bezier(.47, 1.64, .41, .8);
            cursor: pointer;

            &:hover {
                transform: scale(1.25);
            }
        }
    }
}