// Color

$body : #030D26;
$primary : #1479E5;
$sectionSecondary : #071843;
$text : #fff;
$textSecondary : #A8B2CB;

::-webkit-scrollbar {
    background: $textSecondary;
}

::-webkit-scrollbar-thumb {
    background-color: $primary;
}

.case #preview-img {
    width: 32% !important;
}

* {
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $body;
    font-family: 'Roboto Mono', monospace !important;
}

h1 {
    font-size: 30px !important;
}

h2 {
    font-weight: bold;
    font-size: 24px !important;
}

h3 {
    font-weight: 700;
    font-size: 20px !important;
}

p {
    color: $textSecondary !important;
    letter-spacing: -0.5px !important;
    line-height: 30px !important;
    font-size: 16px !important;
}

// Navigation Bar

.navbar {
    background: rgba($color: $body, $alpha: 0.8);
    padding: 10px 50px !important;
    padding-bottom: 20px !important;

    &-dark {
        .navbar-nav {
            .nav-link {
                transition: all 0.2s ease;
                color: $text;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    &-brand {
        img {
            width: 200px;
        }
    }

    #aktif {

        .nav-link {
            color: $primary !important;
            font-weight: 700 !important;
        }

        &::after {
            content: '';
            display: block;
            width: 50%;
            border-radius: 100%;
            height: 2px;
            margin: auto;
            margin-top: 5px;
            background-color: $primary;
            border-radius: 10px;
            transition: all 0.3s ease;
        }
    }

    .nav-item {
        padding: 0px 25px !important;
        font-weight: 700;

        .nav-link {
            padding: 0px !important;
        }

        &::after {
            transition: all 0.3s ease;
            content: '';
            width: 0px;
            height: 2px;
            border-radius: 100%;
            background-color: $primary;
            margin: auto;
            margin-top: 5px;
            display: block;
        }

        &:hover {
            color: $primary !important;

            &::after {

                width: 50%;
                display: block;
            }
        }
    }

}


// Jumbotron 

.jumbotron {
    height: 100vh;
    display: flex;
    align-items: center;
    background: none !important;

    h1 {
        color: $primary;
        margin-bottom: 15px;
        font-weight: 700;
    }

    h2 {
        font-weight: 400 !important;
        margin-bottom: 30px;
    }

    p {
        color: $textSecondary;
    }
}

// Sosmed

.social-media {
    font-size: 30px;
    padding: 0px 7.5px;
    margin-bottom: 30px;

    a {
        &:hover {
            text-decoration: none !important;
        }
    }
}

// Button
.btn {
    border-radius: 10px;
    padding: 10px 24px !important;
    transition: all 0.2s ease;

    &-primary {
        box-shadow: 0px 3px 0px #014EA0;
    }

    &-secondary {
        border: $primary 2px solid !important;
        background: none !important;
        box-shadow: 0px 3px 0px #001225;
    }

    &:hover {
        transform: translateY(3px);
        box-shadow: unset;
    }
}

.section-head {
    font-weight: 700;
    margin-bottom: 60px;
}

// Project

.projects {
    background: $sectionSecondary;
    padding: 120px 0px;

    &-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        overflow: hidden;

        &:hover .overlay {
            transform: translateY(0%);
        }

        img {
            border-radius: 10px;
            width: 100%;
        }
    }

    .label-tech {
        display: inline-flex;
        border-radius: 10px;
        position: absolute;
        z-index: 4;
        font-weight: 600;
        top: 10px;
        left: 10px;

        p {
            border-radius: 5px;
            padding: 0px 10px;
            background-color: #ffcc00;
            margin: 0px 10px;
            margin-left: 0;
            font-size: 12px !important;
            color: #1c1c1c !important;
        }
    }

    .overlay {
        background-blend-mode: overlay;
        transition: all 0.3s ease;
        transform: translateY(100%);
        text-align: center;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba($color: $body, $alpha: 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        filter: blur(100%);

        &-content {
            h5 {
                font-weight: 700;
                margin-bottom: 30px;
            }
        }

    }

    &-footer {
        .btn {
            margin-top: 30px;
        }
    }
}

// Tools

.tools {
    padding: 60px 0px;

    .section-head {
        margin-bottom: 30px;
    }

    img {
        padding-right: 30px;
        padding-top: 30px;
    }
}

// Hite

.hire {
    padding: 60px 0px;
    background: $sectionSecondary;

    &-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &-right {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-secondary {
            margin-left: 25px;
        }
    }
}

// Footer 

.footer {
    padding: 60px 0px;

    hr {
        background-color: #8f8f8f;
        color: #8f8f8f;
        margin-bottom: 30px;
    }

    p {
        color: $textSecondary;

        a {
            color: $textSecondary;
            text-decoration: underline;
            transition: all 0.3s ease;

            &:hover {
                color: $text;
            }
        }
    }

    h2 {
        margin-bottom: 10px;
    }

    ul {
        li {
            list-style: none;
            line-height: 30px;

            a {
                transition: all 0.2s ease;
                color: $textSecondary;

                &:hover {
                    text-decoration: none;
                    color: $text;
                }
            }
        }
    }
}

.case {
    img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    &-back {
        display: block;
        margin-bottom: 15px;
    }

    h5 {
        font-weight: 700;
        margin-bottom: 30px;
    }
}

.notfound {
    .row {
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }

    &-box {
        img {
            width: 60%;
            margin-bottom: 20px;
        }

        text-align: center;
    }
}

.colorpicker {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    hr {
        width: 80%;
        height: 1px;
        background: $sectionSecondary;
        border: none;
    }

    .red {
        margin: 10px 0px;
    }

    .green {
        margin: 10px 0px;
    }

    .blue {
        margin: 10px 0px;
    }

    .code {
        margin: 10px;
        border: 2px solid white;
        padding: 5px 10px;
    }

    .warna {
        display: inline-block;
        border: 2px solid white;
        width: 50px !important;
        height: 50px !important;
        margin: 20px 0px;
        background: white;
    }

    .hasil-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .btn-copy {
            display: inline-block;
            cursor: pointer !important;
        }
    }
}

@import 'responsive';