.btn-satu {
  padding: 14px 28px;
  background: #0066D3;
  border: 2px solid #0066D3;
  border-radius: 10px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.btn-satu:hover {
  background: #004da0;
  border: 2px solid #004da0;
  color: #fff;
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-satu:hover svg {
  fill: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-satu svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 10px;
  width: 20px;
  fill: white;
}

.btn-dua-ml {
  padding: 14px 28px;
  background: #0066D3;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.btn-dua-ml:hover {
  background: #fff;
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-dua-ml:hover svg {
  fill: #0066D3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-dua-ml svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 10px;
  width: 20px;
  fill: white;
}

.btn-dua {
  padding: 14px 28px;
  background: #0066D3;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.btn-dua:hover {
  background: #fff;
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-dua:hover svg {
  fill: #0066D3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-dua svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 10px;
  width: 20px;
  fill: white;
}

.btn-tiga {
  padding: 14px 28px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  color: #0066D3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.btn-tiga:hover {
  background: #fff;
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-tiga:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-tiga svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 10px;
  width: 20px;
  fill: white;
}

.btn-empat {
  padding: 14px 28px;
  background: #fff;
  border: 2px solid #0066D3;
  border-radius: 10px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  color: #0066D3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.btn-empat:hover {
  background: #0066D3;
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
}

.btn-empat:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  fill: #fff;
}

.btn-empat svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 10px;
  width: 20px;
  fill: #0066D3;
}

.leftnavbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  position: fixed;
  z-index: 11;
  padding: 5px 20px;
  left: 10%;
  top: 35px;
  text-align: center;
  border-radius: 10px;
  background: #0066D3;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 53, 109, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 53, 109, 0.3);
}

.leftnavbar a {
  font-size: 20px;
  font-family: 'Poppins';
  color: #fff;
}

.leftnavbar a:hover {
  text-decoration: none;
}

.wrapper {
  left: 0;
  top: 0;
  z-index: 10;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #0066D3;
  -webkit-clip-path: circle(25px at calc(200% - 15px) -150px);
          clip-path: circle(25px at calc(200% - 15px) -150px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper ul {
  list-style: none;
  text-align: center;
  padding-left: 0px;
}

.wrapper ul li {
  margin: 15px 0;
}

.wrapper ul li a {
  font-family: 'Poppins';
  text-decoration: none;
  font-size: 30px;
  padding: 5px 30px;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper ul li a:hover {
  color: #0066D3;
}

.wrapper ul li a:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

#active:checked ~ .wrapper {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}

.menu-btn {
  position: fixed;
  z-index: 11;
  right: 10%;
  top: 35px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: #0066D3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 53, 109, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 53, 109, 0.3);
}

#active:checked ~ .menu-btn {
  background: #fff;
  color: #0066D3;
}

#active:checked ~ .menu-btn i:before {
  color: #0066D3;
  content: "\f00d";
}

input[type="checkbox"] {
  display: none;
}

#backtotop-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0066D3;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 1000px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 53, 109, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 53, 109, 0.5);
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}

#backtotop-button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 50px;
  color: #fff;
}

#backtotop-button:hover {
  cursor: pointer;
  background-color: #004da0;
  text-decoration: none;
}

#backtotop-button:active {
  background-color: #00356d;
}

#backtotop-button.show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#backtotop-button.show:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.jumbotron {
  padding: 120px 0px;
  text-align: center;
  background: none;
  color: #1c1c1c;
}

.jumbotron b {
  color: #0066D3;
}

.jumbotron p {
  margin: 0px;
  line-height: 30px;
}

.jumbotron h1 {
  margin: 10px 0px;
}

.jumbotron .social-media img {
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  padding: 0px 8px;
  margin: 20px 0px;
}

.jumbotron .social-media img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

h2 {
  font-size: 36px;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0066D3;
  border-radius: 6px;
}

.projects {
  margin: 60px 0px;
}

.projects .projects-header {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .projects-header .projects-line {
  background-color: #0066D3;
  height: 3px;
  width: 60%;
  border-radius: 100px;
  display: block;
}

.projects .projects-button {
  text-align: center;
  margin: 15px 0px;
  height: 88%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  z-index: 5;
}

.projects .projects-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  background: #0066D3;
  border-radius: 20px;
  color: white;
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.projects .projects-button a h3 {
  margin-top: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects .projects-button a svg {
  width: 59px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects .projects-button a:hover {
  text-decoration: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: #004da0;
}

.projects .projects-box {
  margin: 15px 0px;
}

.projects .projects-box img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.projects .projects-box img:hover {
  border-radius: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 6;
  cursor: pointer;
  -webkit-box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.2);
}

.projectspage-line {
  background-color: #0066D3;
  height: 3px;
  width: 50%;
  border-radius: 100px;
  display: block;
}

.projectspage-box {
  overflow-x: hidden;
  background: #0066D3;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectspage-content {
  text-align: center;
  color: #fff;
}

.about {
  background: #0066D3;
  padding: 60px 0px;
}

.about .about-line {
  margin: auto;
  margin-top: 10px;
  width: 10%;
  background: white;
  height: 3px;
  border-radius: 100px;
  display: block;
}

.about p {
  color: #fff;
  line-height: 30px;
}

.about .about-heading {
  color: #fff;
  text-align: center;
}

.about .about-left,
.about .about-right {
  margin-top: 60px;
  color: #fff;
}

.about .about-left {
  margin-right: 100px;
}

.about .about-right {
  margin-left: 100px;
}

.about .about-right .btn-kedua {
  margin-top: 20px;
}

.about .about-right .btn-kedua svg {
  margin-left: 10px;
}

.about .social-media img {
  padding-right: 16px;
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.about .social-media img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.offer {
  margin: 60px 0px;
  padding: 60px 0px;
}

.offer .btn-dua {
  margin-right: 16px;
}

.offer .offer-content {
  background: #0066D3;
  padding: 80px 60px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.offer .offer-content .btn-kedua {
  margin-right: 16px;
}

.offer .offer-content svg {
  margin-right: 10px;
}

.tools .tools-header {
  text-align: center;
}

.tools .tools-line {
  display: block;
  height: 3px;
  background: #0066D3;
  width: 15%;
  border-radius: 1000px;
  margin: auto;
  margin-top: 10px;
}

.tools .tools-icon {
  margin-top: 30px;
}

.tools .tools-icon img {
  margin: 7px;
  margin-top: 30px;
  border-radius: 10px;
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  cursor: pointer;
}

.tools .tools-icon img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.logo {
  margin: 8px;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.logo:nth-child(1) {
  background-image: url("../img/tools/1.png");
}

.logo:nth-child(2) {
  background-image: url("../img/tools/2.png");
}

.logo:nth-child(3) {
  background-image: url("../img/tools/3.png");
}

.logo:nth-child(4) {
  background-image: url("../img/tools/4.png");
}

.logo:nth-child(5) {
  background-image: url("../img/tools/5.png");
}

.logo:nth-child(6) {
  background-image: url("../img/tools/6.png");
}

.logo:nth-child(7) {
  background-image: url("../img/tools/7.png");
}

.logo:nth-child(8) {
  background-image: url("../img/tools/8.png");
}

.logo:nth-child(9) {
  background-image: url("../img/tools/9.png");
}

.logo:nth-child(10) {
  background-image: url("../img/tools/10.png");
}

.logo:nth-child(11) {
  background-image: url("../img/tools/11.png");
}

.logo:nth-child(12) {
  background-image: url("../img/tools/12.png");
}

.logo:nth-child(13) {
  background-image: url("../img/tools/13.png");
}

.logo::before, .logo::after {
  --scale: 0;
  --tooltip-color: #007bff;
  --arrow-size: 10px;
  position: absolute;
  content: '';
  top: -.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
          transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  -webkit-transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.logo::before {
  --translate-y: calc(-100% - var(--arrow-size));
  font-family: 'Poppins', sans-serif;
  content: attr(data-tooltip);
  color: white;
  padding: 6px 20px;
  background: var(--tooltip-color);
  border-radius: 10px;
  text-align: center;
}

.logo:hover::before, .logo:hover::after {
  --scale: 1;
}

.logo::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.footer {
  background: #0066D3 !important;
  margin-top: 120px;
  padding: 40px 0px;
  padding-bottom: 80px;
}

.footer .footer-col {
  position: relative;
}

.footer .footer-content {
  margin-top: 30px;
  text-align: center;
  color: #fff;
}

.footer .footer-content svg {
  margin-right: 10px;
}

.footer .footer-content p {
  margin-bottom: 20px;
}

.footer .footer-profile {
  margin: auto;
  text-align: center;
}

.footer .footer-profile img {
  width: 20%;
  margin-top: -160px;
}

.footer-credit {
  background: white;
  text-align: center;
  padding: 2px 0px;
}

.footer-credit p {
  color: #1c1c1c;
  font-weight: 600;
}

.details .details-content {
  margin: 30px 0px;
}

.details .details-content img {
  width: 100%;
  margin: 16px 0px;
  border-radius: 20px;
}

.details .details-content .btn-satu {
  margin-right: 16px;
}

@media (max-width: 768px) {
  .wrapper ul {
    padding: 0px;
  }
  .menu-btn {
    right: 20px;
    top: 20px;
  }
  .projects-line {
    width: 30% !important;
  }
  h1 {
    font-size: 26px;
    line-height: 40px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  .btn-utama,
  .btn-kedua {
    padding: 8px 20px;
    font-size: 12px;
  }
  .leftnavbar {
    left: 20px;
    top: 20px;
  }
  .project-box {
    width: 100%;
  }
  .section-title {
    margin-bottom: 15px;
  }
  .offer {
    margin: 60px 0px;
  }
  .offer .offer-box-left {
    text-align: center;
    padding: 10px;
  }
  .offer .offer-box-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  .offer .offer-box-right .btn-utama {
    margin-top: 10px;
  }
  .offer .offer-box-right .btn-kedua {
    margin-top: 10px;
  }
  .tools {
    margin: 60px 0px;
  }
  .about .about-left {
    text-align: center;
    margin: 0px;
    margin-top: 30px;
  }
  .about .about-right {
    margin: 0px;
    margin-top: 30px;
    text-align: center;
  }
  .about .social-media {
    text-align: center;
  }
  .about .social-media img {
    padding: 0px 6px;
  }
  .offer {
    margin: 60px 0px;
    padding: 0px;
  }
  .offer .offer-content {
    padding: 40px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer .offer-content .btn-dua {
    margin: 0px;
    margin: 16px 0px;
  }
  .tools {
    margin: 30px 0px;
    margin-top: 60px;
  }
  .tools .tools-icon {
    margin-top: 15px;
  }
  .tools .tools-icon img {
    width: 50px;
  }
  .tools .logo {
    margin: 4px;
    width: 50px;
    height: 50px;
  }
  .footer {
    text-align: center;
    margin-top: 60px;
  }
  .details .btn-satu {
    margin-right: 0px !important;
    margin-bottom: 8px;
  }
  .details .btn-satu,
  .details .btn-empat {
    text-align: center;
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */