@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif !important;
    background: #101010 !important;
    color: #fff !important;
}

h1 {
    font-weight: 700 !important;
    font-size: 40px !important;
}

h2 {
    color: #007bff;
    font-weight: 600 !important;
    font-size: 30px !important;
}

section {
    padding: 120px 0px;
}

#navbar {
    transition: all 0.5s ease;
}

::-moz-selection {
    background: #ffcc00 !important;
}

::selection {
    background: #ffcc00 !important;
    color: #1c1c1c;
}

.section-heading {
    text-align: center;
    color: #007bff;
}

.btn-utama {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    background: #007bff;
    border: 2px solid #007bff;
    transition: all 0.2s ease;
}

.btn-utama:hover {
    color: white !important;
    text-decoration: none;
    background: #004590;
    border: 2px solid #004590;
}

.btn-utama i {
    margin-right: 5px;
}

.btn-cadangan i {
    margin-right: 5px;
}

.btn-biasa i {
    margin-right: 5px;
}

.btn-cadangan {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    background: none;
    border: 2px solid #007bff;
    transition: all 0.2s ease;
}

.btn-cadangan:hover {
    color: white;
    text-decoration: none;
    background: none;
    color: #ffcc00;
    border: 2px solid #ffcc00;
}

.btn-biasa {
    display: inline-block;
    font-size: 14px;
    padding: 10px 25px !important;
    color: #bfbfbf;
    transition: all 0.2s ease;
}

.btn-biasa:hover {
    color: #ffcc00;
    text-decoration: none;
}

.btn-social {
    font-size: 24px;
    padding: 10px 15px !important;
    color: #FFF;
    transition: all 0.2s ease;
}

.btn-social:hover {
    color: #ffcc00;
    text-decoration: none;
}

.webdesign {
    transition: all 0.5s ease;
}

.mobiledesign {
    transition: all 0.5s ease;
}

/* Navbar */

.navbar {
    background: none;
}

.navbar-brand img {
    width: 168px;
}

#link-aktif {
    color: #ffcc00 !important;
}

.nav-link {
    font-size: 14px;
    padding: 0px 15px !important;
    font-weight: 600 !important;
    color: white !important;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    margin: auto;
    margin-top: 5px;
    background: #ffcc00;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.jumbotron {
    padding: 160px 0px !important;
    background: #101010 !important;
}

.jumbotron-right img {
    width: 90%;
    margin-top: -100px;
}

.jumbotron p {
    color: #bfbfbf;
    font-size: 16px;
    line-height: 30px;
    padding: 20px 0px;
    padding-top: 15px;
}

/* Project */

.ui-details {
    width: 60% !important;
}

.projects {
    background: #1A1A1A !important;
}

.project-box {
    margin-top: 60px;
}

.project-box img {
    width: 100%;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.project-box img:hover {
    opacity: 0.7;
}

.project-box .btn-biasa {
    padding-left: 0px !important;
}

.project-box h2 {
    font-size: 24px !important;
    color: #fff;
    font-weight: 700 !important;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Details */

.details {
    background: #1A1A1A !important;
}

.details a {
    color: white;
    transition: all 0.2s ease;
}

.details a:hover {
    color: #ffcc00;
}

.details h2 {
    font-weight: 700 !important;
    margin-top: 30px;
    margin-bottom: 30px !important;
}

.details h3 {
    font-weight: 600 !important;
}

.details span {
    font-weight: bold;
    color: #007bff;
}

.details img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 12px;
}

.detail-text {
    margin: auto;
    width: 80% !important;
}

/* Why Hire Me */

.hire .section-heading {
    margin-bottom: 60px;
}

.hire-list {
    margin-top: 60px;
}

.hire {
    padding: 120px 0px;
}

.hire-list img {
    width: 100%;
}

.hire-list h2 {
    font-size: 24px !important;
}

.hire-list p {
    font-size: 14px !important;
}

/* Offers */

.offers {
    background: #101010 !important;
}

.offers-box {
    background-color: #1A1A1A;
    padding: 60px;
    border-radius: 12px;
}

.offers .btn-utama {
    float: right;
}

.offers-box h2 {
    color: white;
}

/* Tools and Skills */

.tools {
    background-color: #1A1A1A;
}

.tools img {
    width: 80px;
    margin: 0px 30px;
    transition: all 0.2s ease;
}

.tools img:hover {
    transform: translateY(-10px);
    border-radius: 3px;
    cursor: pointer;
}

.tools-box {
    margin-top: 30px;
}

.tools-box img {
    margin-top: 30px;
}

/* About Me */

.aboutme h1 {
    margin-bottom: 60px;
}

.aboutme p {
    line-height: 30px;
}

/* Footer */

.footer {
    background: #101010 !important;
    padding: 60px 0px;
}

.footer h3 {
    font-weight: 700 !important;
    font-size: 24px;
    color: #007bff;
}

.footer ul {
    margin-top: 30px;
}

.footer ul li {
    line-height: 30px;
    list-style: none;
}

.footer ul li a {
    color: white;
    transition: all 0.2s ease;
}

.footer ul li a:hover {
    color: #ffcc00;
    text-decoration: none;
}

.footer p a {
    color: white;
    text-decoration: underline;
    transition: all 0.2s ease;
}

.footer p a:hover {
    color: #ffcc00;
}

.jumbotron-socmed {
    margin-top: 30px;
}

/* Back to Top Button */

html {
    scroll-behavior: smooth;
}

.backToTop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    cursor: pointer;
    border-radius: 100px;
    transition: all .2s;
    background: #007bff url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

.backToTop:hover {
    background: #0050a5 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

/* Responsive Android */

@media (max-width:768px) {

    .blog {
        display: none;
    }

    .offers-box h2 {
        text-align: center;
    }

    .offers .btn-utama {
        display: block;
        float: unset;
    }

    .navbar .nav-item {
        padding: 10px 20px !important;
    }

    .nav-link::after {
        margin: 0px !important;
    }

    section {
        padding: 30px 0px;
    }

    .jumbotron {
        padding: 120px 0px !important;
        padding-top: 160px !important;
    }

    .jumbotron-socmed {
        margin-top: 0px !important;
    }

    .jumbotron-left {
        text-align: center;
    }

    .jumbotron-left h2 {
        font-size: 20px !important;
    }

    .jumbotron-left h1 {
        font-size: 24px !important;
    }

    p {
        font-size: 16px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    h1 {
        font-size: 24px !important;
    }

    .btn-social {
        margin-top: 20px !important;
        display: inline-block;
    }

    .jumbotron-right img {
        margin-top: 20px;
    }

    .project-box {
        text-align: center;
    }

    .project-box .btn-biasa {
        padding: 10px !important;
    }

    .offers .btn-utama {
        margin-top: 20px;
        text-align: center;
        display: block !important;
    }

    .offers .btn-cadangan {
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        display: block !important;
    }

    .tools {
        padding: 60px 0px;
    }

    .tools img {
        margin-top: 20px;
    }

    #projects {
        padding-top: 120px !important;
    }

    #aboutme {
        margin-top: 120px !important;
    }

    .details {
        padding-top: 100px !important;
    }

    .navbar {
        background: #101010 !important;
    }

    .hire .section-heading {
        margin-bottom: 30px;
    }

    .hire {
        padding: 60px 0px;
    }

    .hire-list {
        margin-top: 10px !important;
        text-align: center;
    }

    .hire-list h2 {
        margin-top: 20px;
        font-size: 20px !important;
    }

    .hire-list img {
        width: 40%;
    }

    .footer h3 {
        margin-top: 30px;
    }
}

@media (max-width:320px) {
    .jumbotron {
        padding-top: 120px !important;
    }
}