$body : #030D26;
$primary : #1479E5;
$sectionSecondary : #071843;
$text : #fff;
$textSecondary : #A8B2CB;

.colorpicker {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    hr {
        width: 80%;
        height: 1px;
        background: $sectionSecondary;
        border: none;
    }

    .red {
        margin: 10px 0px;
    }

    .green {
        margin: 10px 0px;
    }

    .blue {
        margin: 10px 0px;
    }

    .code {
        margin: 10px;
        border: 2px solid white;
        padding: 5px 10px;
    }

    .warna {
        display: inline-block;
        border: 2px solid white;
        width: 50px !important;
        height: 50px !important;
        margin: 20px 0px;
        background: white;
    }

    .hasil-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .btn-copy {
            display: inline-block;
            cursor: pointer !important;
        }
    }
}