.btn {
   padding: 10px 20px !important;
   border-radius: 10px;
   font-weight: 500;
   outline: none;
   border: none;

   &-primary {
      @include btn-variant($primaryColor, $white);
   }

   &-secondary {
      @include btn-variant($secondaryColor, $darkText);
   }
}