.contact-page {
  padding: 160px 0px;
  background: $primaryColor;
  color: $white;

  a {
    text-decoration: none;
    color: $white;
  }

  h2,
  h3 {
    text-align: center;
  }

  h3 {
    margin-bottom: 10px !important;
    color: $secondaryColor;
  }

  p {
    margin-top: 30px;
  }
}