.footer {
   padding: 60px 0px;

   h2 {
      margin-bottom: 10px;
   }



   &-box {
      p {
         color: $lightTextGrey !important;
      }

      h3 {
         font-weight: 700;
         margin-bottom: 20px;
      }

      span {
         color: $primaryColor;
      }

      ul {
         padding: 0px;
      }

      ul li {
         font-family: 'Inter', sans-serif;
         line-height: 40px;
         text-decoration: none !important;
         list-style: none;
         padding: 0px !important;
      }

      ul li a {
         font-weight: 500;
         line-height: 40px;
         color: $lightTextGrey;
      }

      ul li a:hover {
         color: $darkText;
         text-decoration: none;
      }
   }

   .credit {
      color: $lightTextGrey;
   }
}