.jumbotron {
   margin-top: 100px;
   background: none !important;

   img {
      width: 100%;
   }

   h1 {}

   p {
      font-family: 'Inter', sans-serif;
      padding: 10px 0px;
      color: $lightTextGrey;
   }
}