.navbar {
   background: $white;

   &-brand {
      font-weight: 700;
      font-size: 24px;

      span {
         color: $primaryColor;
      }
   }

   .nav-link {
      padding-left: 20px !important;
      padding-right: 20px !important;
      color: $darkText !important;
      font-weight: 500;
      transition: all 0.2s ease;

      &::after {
         margin: auto;
         content: '';
         height: 2px;
         width: 1px;
         display: block;
         background: $secondaryColor;
         transition: all 0.2s ease;
      }

      &:hover::after {
         width: 50%;
      }

      &:hover {
         color: darken($primaryColor, 20%) !important;
      }
   }
}

#link-aktif {
   color: $primaryColor !important;

   &::after {
      content: '';
      background: $secondaryColor;
      height: 2px;
      width: 50%;
      margin: auto;
      display: block;
   }
}