.portfolio {
   padding: 120px 0px;

   h3 {
      margin-bottom: 10px;
      font-weight: 700;
      color: $primaryColor;
   }

   &-row {
      margin-top: 60px;
   }

   &-button {
      margin-top: 30px;
   }

   &-box {
      margin-top: 30px;

      img {
         width: 100%;
         @extend .radius;
      }
   }
}

.portfolio-page {
   background: $primaryColor;
   padding: 160px 0px;
   color: $white;

   h3 {
      margin-bottom: 10px;
      font-weight: 700;
      color: $secondaryColor;
   }

   &-row {
      margin-top: 60px;
   }

   &-button {
      margin-top: 30px;
   }

   &-box {
      margin-top: 30px;

      img {
         width: 100%;
         @extend .radius;
      }
   }
}