::-moz-selection {
  background: red !important;
}

body {
  font-family: 'Poppins', sans-serif !important;
  color: #1c1c1c !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0px;
}

h1 {
  font-weight: 700;
  font-size: 45px !important;
}

h2 {
  font-weight: 700;
  font-size: 32px !important;
}

h3 {
  font-weight: 700;
  font-size: 24px !important;
}

p {
  font-size: 16px !important;
  font-family: 'Inter', sans-serif !important;
  line-height: 30px;
}

.radius, .portfolio-box img, .portfolio-page-box img {
  border-radius: 10px;
}

.navbar {
  background: #fff;
}

.navbar-brand {
  font-weight: 700;
  font-size: 24px;
}

.navbar-brand span {
  color: #437FE3;
}

.navbar .nav-link {
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #1c1c1c !important;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar .nav-link::after {
  margin: auto;
  content: '';
  height: 2px;
  width: 1px;
  display: block;
  background: #ffda71;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar .nav-link:hover::after {
  width: 50%;
}

.navbar .nav-link:hover {
  color: #194ea7 !important;
}

#link-aktif {
  color: #437FE3 !important;
}

#link-aktif::after {
  content: '';
  background: #ffda71;
  height: 2px;
  width: 50%;
  margin: auto;
  display: block;
}

.jumbotron {
  margin-top: 100px;
  background: none !important;
}

.jumbotron img {
  width: 100%;
}

.jumbotron p {
  font-family: 'Inter', sans-serif;
  padding: 10px 0px;
  color: #787878;
}

.btn {
  padding: 10px 20px !important;
  border-radius: 10px;
  font-weight: 500;
  outline: none;
  border: none;
}

.btn-primary {
  background-color: #437FE3;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.btn-primary:hover {
  background: #194ea7;
  color: #fff;
}

.btn-secondary {
  background-color: #ffda71;
  color: #1c1c1c;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.btn-secondary:hover {
  background: #ffbf0b;
  color: #1c1c1c;
}

.services {
  padding: 120px 0px;
  color: #fff;
  background-color: #437FE3;
}

.services-box {
  text-align: center;
  margin-top: 120px;
}

.services-box h3 {
  padding: 10px 0px;
}

.services-box p {
  color: #D2E3FF !important;
}

.services span {
  color: #ffda71;
}

.services img {
  width: 125px;
}

.portfolio {
  padding: 120px 0px;
}

.portfolio h3 {
  margin-bottom: 10px;
  font-weight: 700;
  color: #437FE3;
}

.portfolio-row {
  margin-top: 60px;
}

.portfolio-button {
  margin-top: 30px;
}

.portfolio-box {
  margin-top: 30px;
}

.portfolio-box img {
  width: 100%;
}

.portfolio-page {
  background: #437FE3;
  padding: 160px 0px;
  color: #fff;
}

.portfolio-page h3 {
  margin-bottom: 10px;
  font-weight: 700;
  color: #ffda71;
}

.portfolio-page-row {
  margin-top: 60px;
}

.portfolio-page-button {
  margin-top: 30px;
}

.portfolio-page-box {
  margin-top: 30px;
}

.portfolio-page-box img {
  width: 100%;
}

.order {
  background: #437FE3;
  color: #fff;
  padding: 120px 0px;
}

.order-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-box {
  text-align: center;
}

.order-box p {
  padding: 10px 0px !important;
}

.order-box .sosmed {
  color: #fff;
  font-size: 30px;
  padding-left: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.order-box .sosmed:hover {
  color: #ffbf0b;
}

.footer {
  padding: 60px 0px;
}

.footer h2 {
  margin-bottom: 10px;
}

.footer-box p {
  color: #787878 !important;
}

.footer-box h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-box span {
  color: #437FE3;
}

.footer-box ul {
  padding: 0px;
}

.footer-box ul li {
  font-family: 'Inter', sans-serif;
  line-height: 40px;
  text-decoration: none !important;
  list-style: none;
  padding: 0px !important;
}

.footer-box ul li a {
  font-weight: 500;
  line-height: 40px;
  color: #787878;
}

.footer-box ul li a:hover {
  color: #1c1c1c;
  text-decoration: none;
}

.footer .credit {
  color: #787878;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 14px !important;
  }
  .services-box {
    margin-top: 30px;
  }
  .nav-link {
    padding: 20px 0px;
  }
  .nav-link:hover {
    background: #ffda71;
  }
  .jumbotron {
    text-align: center;
  }
  .jumbotron-right {
    margin-top: 50px;
  }
  .footer {
    text-align: center;
  }
  .footer h3 {
    margin-top: 20px;
  }
}

.about-page {
  padding: 160px 0px;
  background: #437FE3;
  color: #fff;
}

.about-page h2 {
  text-align: center;
}

.about-page h3 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  color: #ffda71;
}

.about-page p {
  margin-top: 30px;
}

.contact-page {
  padding: 160px 0px;
  background: #437FE3;
  color: #fff;
}

.contact-page a {
  text-decoration: none;
  color: #fff;
}

.contact-page h2,
.contact-page h3 {
  text-align: center;
}

.contact-page h3 {
  margin-bottom: 10px !important;
  color: #ffda71;
}

.contact-page p {
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */