@media (max-width:768px) {
    .navbar {

        &-brand {
            img {
                width: 150px !important;
            }

            margin:auto;
        }

        &-sosmed {
            a {
                font-size: 18px !important;
            }
        }
    }

    .jumbotron {
        height: 900px;
        margin-top: 80px;
        text-align: center;

        img {
            margin-top: 30px;
        }
    }

    .sidebar {
        width: 100vw !important;
    }

    .promo-box {
        padding: 20px;
        margin-top: 30px;
        text-align: center;
    }

    .promo-box-right {
        margin: 0;
    }

    .quotes-box {
        padding: 60px 30px;
    }

    .footer {
        text-align: center;

        h5 {
            margin-top: 30px;
        }
    }

    .kontakpage {
        label[for=alamatEmail] {
            margin-top: 20px;
        }
    }
}