:root {
  --primary-text-color: #007BFF;
}

body {
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

a {
  color: #007bff;
}

a:hover {
  color: #ffcc00;
}

.text-primary {
  color: #007bff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

header.masthead {
  text-align: center;
  color: white;
  background: linear-gradient(135deg, #0018ff, #0072ff);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 200px;
  padding-bottom: 200px;
}

header.masthead .intro-text .intro-heading {
  text-align: left;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 10px;
}


@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

::-moz-selection {
  background: #007bff;
  text-shadow: none;
}

::selection {
  background: #007bff;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn {
  font-weight: 700;
}

.btn-xl {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 25px;
}


#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #007bff;
}

#mainNav .navbar-brand {
  color: #007bff;
}

#mainNav .navbar-brand,
#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus {
  color: white;
}

#mainNav .navbar-brand:hover {
  color: #ffcc00;
}


#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 2px;
  color: white;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #ffcc00;
}

#mainNav .navbar-nav .nav-item .nav-link.active:hover {
  background: none;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffcc00;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5);
}

.judul-section {
  letter-spacing: 3px;
  text-transform: uppercase !important;
  font-size: 40px;
  text-align: center !important;
}

.subjudul-section {

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 20px;
  text-align: center !important;
  margin-bottom: 60px;
}

header.masthead .btn-primary {
  background: white !important;
  color: var(--primary-text-color);
  border: 2px solid #007bff;
}

header.masthead .btn-primary:hover {
  background: #007bff !important;
  color: white;
  border: 2px solid white;
}

header.masthead img {
  margin-top: 160px;
}

/* Promo */

.promo {
  background: #efefef;
}

.box-promo {
  padding: 40px 20px;
  background: white;
}

.box-promo span {
  margin-left: 2px;
  font-weight: 400;
  font-size: 18px;
  color: #808080;
}

.box-promo h2 {
  font-weight: 400;
  color: #007BFF;
}

.box-promo ul li {
  font-size: 18px;
  line-height: 40px;
  text-align: left;
}

.box-promo ul li span {
  text-decoration: line-through;
}

.box-promo .btn {
  margin-top: 30px;
  background: var(--primary-text-color);
  color: white;
  border-radius: 25px;
  padding: 10px 30px;
  border: 2px solid #007bff !important;
}

.box-promo .btn:hover {
  background: white;
  color: var(--primary-text-color);
  border: 2px solid var(--primary-text-color);
}


/* Harga */

.harga {
  background: #efefef;
}

.box-harga {
  padding: 40px 20px;
  background: white;
}

.box-harga span {
  margin-left: 2px;
  font-weight: 400;
  font-size: 18px;
  color: #808080;
}

.box-harga h2 {
  font-weight: 400;
  color: #007BFF;
}

.box-harga ul li {
  font-size: 18px;
  line-height: 40px;
  text-align: left;
}

.box-harga ul li span {
  text-decoration: line-through;
}

.box-harga .btn {
  margin-top: 30px;
  background: var(--primary-text-color);
  color: white;
  border-radius: 25px;
  padding: 10px 30px;
  border: 2px solid #007bff !important;
}

.box-harga .btn:hover {
  background: white;
  color: var(--primary-text-color);
  border: 2px solid var(--primary-text-color);
}

.navbar-brand img {
  width: 250px !important;
}

.tentang p {
  font-size: 18px;
}

/* Layanan */

.layanan {
  background: linear-gradient(135deg, #0018ff, #0072ff) !important;
}

.layanan .judul-section,
.layanan .subjudul-section {
  color: white;
}

.box-layanan {
  border-radius: 12px;
  padding: 25px;
}

.box-layanan h3 {
  padding: 100px 0px;
}

.box-layanan .btn {
  margin-top: 30px;
  background: var(--primary-text-color);
  color: white;
  border-radius: 25px;
  padding: 10px 30px;
  border: 2px solid var(--primary-text-color) !important;
}

.box-layanan .btn:hover {
  background: white;
  color: var(--primary-text-color);
  border: 2px solid var(--primary-text-color);
}

/* Kontak */

.kontak {
  background: #efefef;
}

/* Responsive Android */

@media (max-width:414px) {

  .deskripsi {
    padding: 60px 10px;
  }

  .box-layanan h3 {
    padding: 10px 0px;
  }

  .box-layanan {
    margin-top: 20px;
  }

  .kontak {
    padding-bottom: 60px;
  }

  .layanan {
    padding-bottom: 60px;
  }

  .tentang p {
    font-size: 14px;
  }

  .tentang {
    padding-bottom: 60px;
  }

  .intro-heading {
    font-size: 30px !important;
  }

  .navbar-brand img {
    width: 180px !important;
  }

  .promo {
    padding-bottom: 60px !important;
  }

  .box-promo {
    margin-top: 30px;
  }

  .harga {
    padding-bottom: 60px !important;
  }

  .box-harga {
    margin-top: 30px;
  }


  .judul-section {
    margin-top: 60px;
  }

  html {
    overflow-y: auto;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    background: none;
  }

}

/* Responsive PC */

@media (min-width: 992px) {

  .harga {
    padding-top: 200px;
  }

  .judul-section {
    margin-top: -100px;
  }

  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: all 0.3s;
  }


  #mainNav .navbar-nav .external-link {
    color: white;
    font-weight: bold !important;
    background: #28a745 !important;
    border-radius: 25px;
    margin-left: 10px;
  }

  #mainNav .navbar-nav .external-link:hover {
    color: white !important;
    background: green !important;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 10px 20px;
  }

  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background: #0018ff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5)
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}