body {
  font-family: 'Nunito', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700 !important;
  font-family: 'Quicksand', sans-serif !important;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar #cart {
  padding-right: 0px !important;
}

.navbar .nav-link {
  padding: 20px 25px !important;
  font-weight: 700 !important;
  color: #161B2C !important;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand span {
  color: #5E81F4;
}

.btn-primary {
  background: #5E81F4;
  padding: 10px 24px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.section-head {
  text-align: center;
  padding-bottom: 30px;
}

.jumbotron {
  padding: 60px 0px;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

.jumbotron-left h1 {
  padding: 0px;
}

.jumbotron-left p {
  padding: 10px 0px;
  line-height: 30px;
}

.jumbotron-right {
  background: #5E81F4;
  position: relative;
  width: 100%;
  height: 477px;
}

.jumbotron-right img {
  width: 540px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.recommended {
  padding: 60px 0px;
}

.recommended img {
  width: 100%;
  margin-bottom: 10px;
}

.recommended-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommended .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner img {
  width: 100% !important;
  padding: 60px 0px;
}

.category {
  padding: 60px 0px;
}

.category .card {
  margin: 16px 0px;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.category .card:hover .card-img-overlay {
  background: rgba(0, 0, 0, 0);
}

.category .card-img-overlay {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.2);
}

.services {
  background: #5E81F4;
  color: #fff;
  padding: 30px 0px;
}

.services-box img {
  margin-bottom: 10px;
}

.services-box a {
  color: #fff;
}

.services-box a:hover {
  text-decoration: none;
}

.footer {
  padding: 120px 0px;
}

.footer span {
  color: #5E81F4;
}

.footer ul {
  padding: 0px;
}

.footer ul li {
  list-style: none;
  padding: 0px;
  line-height: 40px;
}

.footer ul li a {
  font-weight: 600;
  color: #161B2C;
}

.footer ul li a:hover {
  text-decoration: none;
  color: #4D5B87;
}

.footer .socialmedia a {
  font-size: 30px;
  padding: 0px 15px;
  color: #5E81F4;
}

.footer .socialmedia a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  section {
    padding: 30px 0px !important;
  }
  .navbar {
    padding: 20px;
  }
  .navbar .nav-link {
    padding: 0px 10px;
  }
  .jumbotron {
    padding-top: 100px;
    text-align: center;
  }
  .jumbotron-right {
    margin: auto;
    margin-top: 30px;
    width: 70%;
    height: 300px;
  }
  .jumbotron-right img {
    width: 130%;
    height: 300px;
    position: relative;
  }
  .footer {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */