$primary : #5E81F4;
$secondary : #CDD9FF;
$text : #161B2C;
$white : #fff;
$textSecondary : #4D5B87;
$sectionSecondary :#F0F4FF;

body {
    font-family: 'Nunito', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700 !important;
    font-family: 'Quicksand', sans-serif !important;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;

    #cart {
        padding-right: 0px !important;
    }

    .nav-link {
        padding: 20px 25px !important;
        font-weight: 700 !important;
        color: $text !important;
    }

    &-brand {
        font-weight: 700;

        span {
            color: $primary;
        }
    }
}

// Button
.btn {
    &-primary {
        background: $primary;
        padding: 10px 24px;
        outline: none;
        border: none;
        border-radius: 10px;
    }
}

.section-head {
    text-align: center;
    padding-bottom: 30px;
}

// Jumbotron

.jumbotron {
    padding: 60px 0px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    background: none;

    &-left {
        h1 {
            padding: 0px;
        }

        p {
            padding: 10px 0px;
            line-height: 30px;
        }
    }

    &-right {
        background: $primary;
        position: relative;
        width: 100%;
        height: 477px;

        img {
            width: 540px;
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }
}

// Recommended {
.recommended {
    padding: 60px 0px;

    img {
        width: 100%;
        margin-bottom: 10px;
    }

    &-text {
        display: flex;
        justify-content: space-between;
    }

    .price {
        display: flex;
    }
}

// Banner 

.banner {
    img {

        width: 100% !important;
        padding: 60px 0px;
    }
}

// Category 
.category {
    padding: 60px 0px;

    .card {
        margin: 16px 0px;
        color: $white;
        transition: all 0.2s ease;

        &:hover .card-img-overlay {
            background: rgba($color: #000000, $alpha: 0);
        }

        &-img-overlay {
            transition: all 0.2s ease;
            background: rgba($color: #000000, $alpha: 0.2);
        }
    }
}

// Services

.services {
    background: $primary;
    color: $white;
    padding: 30px 0px;

    &-box {
        img {
            margin-bottom: 10px;
        }

        a {
            color: $white;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

// Footer

.footer {
    padding: 120px 0px;

    span {
        color: $primary;
    }

    ul {
        padding: 0px;

        li {
            list-style: none;
            padding: 0px;
            line-height: 40px;

            a {
                font-weight: 600;
                color: $text;

                &:hover {
                    text-decoration: none;
                    color: $textSecondary;
                }
            }
        }
    }

    .socialmedia {
        a {
            font-size: 30px;
            padding: 0px 15px;
            color: $primary;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@import 'responsive';