body {
  color: #D6D3CD;
  background: #181A1B;
  overflow-x: hidden;
  font-family: 'Google Sans';
}

p {
  line-height: 1.75;
}

a {
  color: #68D5E1;
}

a:hover {
  color: #68D5E1;
}

.text-primary {
  color: #68D5E1 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

::-moz-selection {
  background: #68D5E1;
  text-shadow: none;
}

::selection {
  background: #68D5E1;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.tombol {
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  background: #68D5E1;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tombol:hover {
  background: white;
  color: #68D5E1;
  text-decoration: none;
}

#mainNav {
  background: #181A1B;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
}

#mainNav .navbar-brand {
  font-weight: bold;
  font-size: 1.75em;
  transition: all 0.3s;
}

#mainNav .navbar-nav .nav-item .nav-link {
  padding: 1.1em 1em !important;
}

#mainNav.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #181A1B;
}

#mainNav.navbar-shrink .navbar-brand {
  font-size: 1.25em;
  padding: 12px 0;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #68D5E1;
}

#mainNav .navbar-brand {
  color: #68D5E1;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #68D5E1;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #68D5E1;
}

header.masthead {
  padding-bottom: 100px;
  text-align: center;
  color: white;
  background: #181A1B;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .intro-heading {
  padding-top: 200px;
  font-weight: bold;
  font-size: 50px;
}

header.masthead .intro-text p {
  font-size: 24px;
}

header.masthead img {
  width: 425px;
  margin-top: 140px;
}

.judul-section {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.subjudul-section {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

/* Layanan */

.layanan {
  padding: 70px 0px 70px 0px;
}

.box-layanan {
  margin: auto;
  border-radius: 12px;
  border: 5px solid #68D5E1;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.box-layanan img {
  width: 130px;
  padding: 10px;
}

/* Promo */

.promo {
  padding: 30px 0px 30px 0px;
}

.promo .subjudul-section {
  margin-bottom: 20px;
}

.container-promo {
  width: 900px;
  height: 400px;
}

.carousel-item img {
  width: 900px;
  height: 400px;
}

/* list Harga */

.list-harga {
  padding: 100px 0px 100px 0px;
}

.list-harga img {
  width: 100%;
  border-radius: 12px;
}

/* Payment */
.payment {
  padding: 140px 0px 140px 0px;
}

/* Footer */

.footer {
  font-size: 14px;
  background: #68D5E1 !important;
  color: #181A1B;
  font-weight: bold;
  align-items: center;
  display: flex;
}

.footer p {
  padding-top: 20px;
  display: inline-block;
}

/* Detail */

.detail {
  margin-top: 50px;
  padding: 70px 0px 70px 0px;
}

.detail img {
  width: 100%;
}

.detail-box {
  padding: 50px;
  color: #181A1B;
  background: #68D5E1;
  border-radius: 12px;
}

.detail-list {
  padding: 0px;
}

.detail-list button {
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  padding: 5px 10px;
  border-radius: 12px;
  width: 165px;
}

.detail-list button:hover {
  background: #181A1B;
  color: #D6D3CD;
}

@media (max-width: 768px) {
  .detail-box img {
    margin-bottom: 30px;
    display: block;
  }

  .detail-list {
    width: 60%;
    margin: auto;
  }

  .detail-list button {
    width: 100%;
    margin-top: 5px;
  }

  .list-harga img {
    margin-top: 20px;
  }

  .box-layanan {
    margin-top: 20px;
  }

  #mainNav nav.navbar {
    background: #68D5E1;
  }

  header.masthead img {
    margin-top: 20px;
    width: 275px;
  }

  header.masthead .intro-heading {
    font-size: 30px;
  }

  header.masthead .intro-text p {
    font-size: 16px;
  }

  header.masthead .tombol {
    font-size: 10px;
  }

  .container-promo {
    width: 100%;
    height: 160px;
  }

  .carousel-item img {
    width: 100%;
    height: 160px;
  }
}