@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Roboto&display=swap');

@font-face {
    font-family: "Monument";
    src: url('../font/monument.woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #201f1f !important;
    color: white !important;
    font-family: 'Inter', sans-serif !important;
}

h1 {
    font-size: 46px !important;
    color: white;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 30px !important;
    font-family: 'Monument';
    color: #007bff;
}

h3 {
    font-size: 24px !important;
    font-family: 'Inter', sans-serif;
}

h4,
h5 {
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif;
}

.active {
    color: #007bff !important;
}

.btn-primary {
    display: inline-block;
    color: white;
    border: 2px solid #007bff !important;
    padding: 5px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: all 0.2s ease;
}

.btn-primary:hover {
    background: #005cbf !important;
    border: 2px solid #005cbf !important;
    text-decoration: none;
}

.btn-secondary {
    display: inline-block;
    color: white;
    background: none !important;
    border: 2px solid #007bff !important;
    padding: 5px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: all 0.2s ease;
}

.btn-secondary:hover {
    text-decoration: none;
    border: 2px solid #005cbf !important;
}

.heading-text {
    text-align: center;
    margin-bottom: 60px;
}

.image {
    background: #9FCEFF;
    border-radius: 6px;
}

.label {
    display: block;
    margin: 15px 0px;
}

.label-diskon {
    display: inline-block;
    background: #FF8181;
    color: #FF2020;
    border-radius: 6px;
    padding: 2px 20px;
    text-decoration: line-through !important;
}

.label-harga {
    display: inline-block;
    background: #9FCEFF;
    color: #007bff;
    padding: 2px 20px;
    border-radius: 6px;
}

/* Navigation Bar */

.navbar {
    background: #201f1f !important;
}

.navbar-brand img {
    width: 225px;
}

.navbar-toggler img {
    width: 40px;
}

.nav-link {
    color: white !important;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px !important;
    padding-right: 15px !important;
    transition: all 0.2s;
}

.nav-link:hover {
    color: #007bff !important;
}

.dropdown-menu {
    padding: 10px 0px !important;
}

.dropdown-item {
    font-size: 14px !important;
    padding: 0px 20px !important;
    transition: all 0.2s;
}

.dropdown-item:hover {
    background: none !important;
    color: #007bff !important;
}

.garis {
    width: 80%;
    margin: auto !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: block;
    background: #9FCEFF;
    height: 1px;
}

.garis:nth-last-child() {
    margin-bottom: 0px !important;
}



.container {
    padding-left: 70px !important;
    padding-right: 70px !important;
}

/* Jumbotron */

.jumbotron {
    margin-top: 80px;
    background: none !important;
}

.jumbotron-left {
    margin-top: 50px;
}

.jumbotron-right img {
    width: 100%;
}

.product-box {
    margin-top: 30px;
    text-align: center;
}

.product-box img {
    max-height: 240px;
}

.image {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image .diskon {
    text-align: left;
    top: 10px;
    left: 25px;
    position: absolute;
    padding: 10px 5px;
    border-radius: 6px;
    background: #FF8181;
    display: inline-block;
    color: #FF2020;
    font-size: 12px;
}

/* Offers */

.offers {
    padding: 120px 0px;
}

/* Catalog */

.catalog {
    padding: 120px 0px;
}

/* Services */

.services {
    padding: 120px 0px;
}

.left-services img {
    width: 100%;
}

.left-services h3 {
    color: #007bff;
}

.right-services img {
    margin-top: -40px;
    width: 100%;
}

/* Footer */

.footer {
    background: #161616;
    padding: 60px 0px;
}

.footer h3 {
    font-size: 24px !important;
    font-family: 'Monument';
    color: #007bff;
}

.footer p {
    line-height: 30px;
}

.footer img {
    width: 30px;
    margin-right: 10px;
    transition: all 0.2s;
}

.footer img:hover {
    opacity: 0.7;
}

.footer ul li {
    line-height: 30px;
    list-style: none;
}

.footer ul li a {
    color: white;
    transition: all 0.2s;
}

.footer ul li a:hover {
    text-decoration: none;
    color: #007bff;
}

/* Credit */

.credit {
    padding-top: 20px;
}

.credit span {
    color: #007bff;
    font-weight: 600;
}

/* Detail */

.detail-left {
    padding: 120px 0px;
}

.detail-left p {
    line-height: 30px;
}

.detail-left img {
    width: 100%;
}

.detail-right {
    margin-top: 120px;
    color: white;
}

.detail-right span {
    font-weight: 600;
    color: #007bff;
}

hr {
    background: #707070;
}


@media (max-width:768px) {
    .jumbotron {
        margin-top: 0px;
        text-align: center;
    }

    .jumbotron-left h1 {
        font-size: 28px !important;
    }

    .jumbotron-left h2 {
        font-size: 20px !important;
    }

    .jumbotron-left p {
        font-size: 12px !important;
    }

    .jumbotron-right img {
        margin-top: 30px;
    }

    .navbar-brand img {
        width: 150px;
    }

    .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .offers {
        padding: 30px 0px;
    }

    .catalog {
        padding: 30px 0px;
    }

    .services {
        padding: 30px 0px;
        text-align: center;
    }

    .services .left-services img {
        width: 40%;
    }

    .services .right-services img {
        width: 100%;
        margin-top: 30px;
    }

    .footer-box {
        margin-top: 20px;
    }

    .detail-left {
        padding: 80px 0px;
        padding-bottom: 40px;
    }

    .detail-right {
        margin: 30px 0px;
    }
}