* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background: #355389;
  width: 1%;
}

::-webkit-scrollbar-thumb {
  background: #16243d;
}

.nav-link {
  padding: 10px 20px !important;
  font-weight: 500;
  color: #16243d !important;
  transition: all 0.2s ease;
}

.nav-link::after {
  content: '';
  display: block;
  height: 2px;
  border-radius: 20;
  width: 0px;
  transition: all 0.2s ease;
  background: #355389;
}

.nav-link:hover::after {
  width: 80%;

}


.nav-link:hover {
  color: #355389 !important;
}

body {
  font-family: 'Poppins', sans-serif !important;
  color: #16243d !important;
}

p {
  font-family: 'Roboto', sans-serif !important;
  color: #5a6882 !important;
}

h1 {
  font-weight: 700;
  font-size: 48px !important;
}

h2 {
  margin-bottom: 60px;
  font-size: 30px !important;
  font-weight: 700;
  text-align: center;
}

nav.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fff;
}

.jumbotron {
  padding-top: 130px;
  background: #fff;
}

.jumbotron-right img {
  width: 100%;
}

.jumbotron-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron p {
  font-size: 18px !important;
  padding: 25px 0px;
}

.btn-utama {
  color: white;
  font-weight: 700;
  background: #355389 !important;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.btn-utama:hover {
  text-decoration: none;
  color: white;
  background: #16243d !important;
}

.btn-cadangan {
  color: #16243d;
  font-weight: 700;
  background: #fff !important;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.btn-cadangan:hover {
  text-decoration: none;
  color: white;
  background: #16243d !important;
}

.btn-tersier {
  color: #355389;
  font-weight: 700;
  padding: 10px 20px;
  transition: all 0.2s ease;
}

.btn-tersier:hover {
  color: #16243d;
  text-decoration: none;
}

/* Tentang */

.tentang-box {
  padding-top: 120px;
  padding-bottom: 120px;
}

.tentang-box p {
  line-height: 30px;
}

/* Keunggulan */

.keunggulan {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #F1F6FF;
}

.keunggulan img {
  width: 75px;
}

.keunggulan h3 {
  padding-top: 20px;
  font-size: 20px !important;
  font-weight: 700;
}

.keunggulan-box {
  background: #fff;
  border-radius: 10px;
}

.keunggulan-box img {
  padding-left: 20px;
  padding-top: 20px;
}

.keunggulan-box h3 {
  padding-left: 20px;
}

.keunggulan-box p {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

/* Materi */

.materi {
  padding-top: 120px;
  padding-bottom: 120px;
}

.materi h2 {
  margin-bottom: 10px;
}

.materi p {
  margin-bottom: 60px;
}

.materi-head {
  text-align: center;
}

.materi-box {
  background: #F1F6FF;
  padding: 20px;
  border-radius: 10px;
  min-height: 400px;
}

.materi-box h3 {
  font-size: 24px !important;
  text-align: center;
  font-weight: 700;
}

.materi-box ul {
  padding-left: 20px;
  margin-top: 60px;
}

.materi-box ul li {
  font-family: 'Roboto', sans-serif !important;
  line-height: 40px;
}

/* Gabung */

.gabung {
  color: white;
  background: #355389;
  padding-top: 120px;
  padding-bottom: 120px;
}

.gabung-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gabung p {
  color: #fff !important;
  margin-bottom: 0px;
}

.gabung h2 {
  text-align: left;
  margin-bottom: 10px;
}

/* Kontak */

.kontak {
  padding-top: 120px;
  padding-bottom: 120px;
}

label {
  margin-top: 10px;
}

input[type="text"] {
  background: #F1F6FF;
  border: none;
}

textarea[name="pesan"] {
  background: #F1F6FF !important;
  border: none;
  resize: none;
}

button.btn-utama {
  margin-top: 20px;
  outline: none;
  border: none;
}

/* Footer */

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 100px 0px;
  padding-bottom: 60px !important;
  background: #16243d;
}

.footer h2 {
  text-align: left;
  color: #355389;
  margin-bottom: 20px;
}

.footer ul li a {
  text-decoration: none;
  color: white;
  line-height: 40px;
}

.footer-center a {
  transition: all 0.2s ease;
}

.footer-center a:hover {
  color: #355389;
}

.footer-right a {
  font-size: 35px;
  color: white;
  margin-right: 20px;
  transition: all 0.2s ease;
}

.footer-right a:hover {
  text-decoration: none;
  color: #355389;
}

.credit {
  background: #355389;
}

.credit p {
  color: #fff !important;
  padding: 10px 0px;
  margin-bottom: 0px;
}

.credit-right {
  text-align: right;
}

@media (max-width:768px) {
  h1 {
    font-size: 30px !important;
    text-align: center;
  }

  p {
    font-size: 14px !important;
  }

  .jumbotron p {
    font-size: 14px !important;
    text-align: center;
  }

  .btn-utama {
    font-size: 14px !important;
    display: block;
    text-align: center;
  }

  .btn-tersier {
    font-size: 14px !important;
    display: block;
    text-align: center;
  }

  .jumbotron-right img {
    margin-top: 60px;
  }

  .tentang-box {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .keunggulan {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .keunggulan-box h3 {
    padding: 0px;
    padding-top: 10px;
  }

  .keunggulan-box {
    text-align: center;
  }

  .keunggulan-box img {
    padding: 0px;
    padding-top: 20px;
  }

  .materi {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .materi-box {
    margin-top: 30px;
  }

  .gabung {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center !important;
  }

  .gabung h2 {
    text-align: center;
  }

  .gabung .btn-cadangan {
    margin-top: 20px;
  }

  .kontak {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer img {
    width: 200px;
    margin-bottom: 30px;
  }

  .footer {
    text-align: center;
  }

  .footer-right a {
    margin: 0px;
    margin: 0px 10px;
  }

  .footer h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 26px !important;
  }

  .credit {
    text-align: center !important;
  }

  .credit-right {
    text-align: center !important;
  }
}