@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav.navbar {
    overflow-x: hidden;
    background: white;
    padding: 0px 100px;
}

nav.navbar .nav-item a{
    color: black !important;
    transition: all 0.2 ease;
}

nav.navbar .nav-item a:hover {
    color: orange !important;
}

nav.navbar .navbar-brand {
    font-weight: 700;
    font-size: 34px;
}

nav.navbar .nav-item{
    padding:5px 15px;
}

.jumbotron{
    background:darkorange;
    background-size:cover;
    background-position: center;
    padding: 270px 0px;
    margin:0;
}

.jumbotron h1 {
    font-weight: 700;
}

.btn-utama {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    transition: all 0.2s ease;
}

.btn-utama:hover {
    text-decoration: none;
    color:#333;
    border: 2px solid #333;
}

/* Tentang */
.tentang {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px;
    height: 660px;
}

.tentang h2 {
    font-weight: 700;
    margin-bottom: 30px;
}

/* Layanan */
.layanan {
    padding: 140px 0px;
    background: darkblue;
}

.layanan h2 {
    font-weight: 700;
    color: white;
}

.layanan img {
    width:60%;
    margin:auto;
    margin-top: 30px;
}

.layanan-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.layanan-box p {
    display: inline-block;
    margin-top: 30px;
    font-weight: 500;
}

.layanan-row {
    width:80%;
    margin: 30px auto; 
    background: white;
    padding: 20px;
    border-radius: 12px;
}

/* Kontak */

.kontak {
    padding: 120px 0px;
    background: linear-gradient(135deg, maroon, red);
    color:white;
}

.kontak h2 {
    font-weight: 700;
}

.kontak input::placeholder {
    color: salmon;
}

.kontak textarea::placeholder {
    color: salmon;
}

.kontak input {
    margin:10px 0px;
    width:50%;
    border: none;
    color: white;
    background: none;
    border-bottom: 2px solid white;
    padding: 10px;
}

.kontak textarea {
    width:50%;
    border:none;
    color: white;
    background: none;
    border: 2px solid white;
    padding:10px;
}

.kontak button {
    display: inline-block;
    padding:10px 20px;
    border:none;
    background: white;
    margin:10px 0px auto;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.kontak button:hover{
    background: orange;
    color:white;
}

/* Footer */

.footer {
    padding: 30px;
    background: orange;
}

.footer h5 {
    font-weight: 700;
}

.footer-box ul li{
    line-height: 50px;
    list-style: none;
}

.footer-box ul li a {
    color: #212529;
    transition: all 0.2s ease;
}

.footer-box ul li a:hover {
    color: rgb(255, 81, 0);
    margin-left: 10px;
    text-decoration: none;
}

.footer-box a {
    color: #212529;
    transition: all 0.2s ease;
}

.footer-box a:hover {
    text-decoration: none;
    color:white;
}

@media (max-width:768px) {
    nav.navbar {
        padding: 0px 30px;
    }

}