h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h5 {
  font-weight: 600;
  letter-spacing: 4px;
}

h2 {
  font-size: 30px;
}

h5 {
  font-size: 16px;
  color: #00A3FF;
}

.section-heading p {
  color: #68738A;
}

.btn {
  padding: 10px 30px;
  border-radius: 25px;
}

.btn-utama {
  background-color: #EE3959;
  color: #fff;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(238, 57, 89, 0.15);
          box-shadow: 0px 0px 20px 5px rgba(238, 57, 89, 0.15);
  border: 2px solid #EE3959;
}

.btn-utama:hover,
.btn-utama:focus .btn-utama.active {
  background-color: #e11338;
  color: #fff;
  outline: none;
}

.btn-kedua {
  background-color: none;
  color: #fff;
  border: 2px solid #EE3959;
}

.btn-kedua:hover,
.btn-kedua:focus .btn-kedua.active {
  background-color: #e11338;
  color: #fff;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #161E2E;
}

.navbar .dropdown-item a {
  color: #1c1c1c !important;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
  background-color: #EE3959 !important;
  color: #fff;
}

.navbar .navbar-nav {
  padding: 15px 0px;
}

.navbar .navbar-brand {
  font-weight: bold;
  color: #fff;
}

.navbar .navbar-brand img {
  padding-right: 14px;
}

.navbar .nav-item {
  padding: 2px 20px;
  margin: 0px 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 25px;
}

.navbar .nav-item:hover {
  color: #EE3959 !important;
}

.navbar .nav-link a {
  color: #fff;
}

.navbar .nav-item-special {
  border-radius: 25px;
  background-color: #EE3959;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(238, 57, 89, 0.15);
          box-shadow: 0px 0px 20px 5px rgba(238, 57, 89, 0.15);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar .nav-item-special:hover {
  background-color: #e11338;
}

.navbar .nav-item-special a {
  color: white !important;
}

.jumbotron {
  background-color: #161E2E;
  margin-top: 60px;
  color: white;
  height: 100vh;
}

.jumbotron .jumbotron-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron .jumbotron-left h1 {
  font-size: 40px;
  font-weight: bold;
}

.jumbotron .jumbotron-left p {
  line-height: 30px;
  margin: 0;
  padding: 20px 0px;
  font-weight: 400;
}

.jumbotron .jumbotron-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jumbotron .jumbotron-right img {
  width: 85%;
}

.kategori {
  margin: 120px 0px;
}

.kategori .section-heading {
  margin-bottom: 14px;
}

.kategori .kategori-menu {
  margin-top: 16px;
  padding: 0px 8px;
}

.kategori .kategori-menu img {
  width: 100%;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.kategori .kategori-menu img:hover {
  opacity: 0.7;
}

.bukuterbaru {
  margin: 120px 0px;
}

.bukuterbaru .section-heading {
  margin-bottom: 30px;
}

.bukuterbaru .bukuterbaru-menu {
  border-radius: 5px;
  padding: 0px 8px;
}

.bukuterbaru .bukuterbaru-menu a img {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bukuterbaru .bukuterbaru-menu a img:hover {
  z-index: 999;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bukuterbaru .bukuterbaru-button {
  text-align: center;
  margin-top: 60px;
}

.fitur {
  margin: 60px 0px;
}

.fitur .section-heading {
  margin-bottom: 30px;
}

.fitur .fitur-menu {
  min-height: 335px;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(45, 96, 226, 0.1);
          box-shadow: 0px 0px 15px 2px rgba(45, 96, 226, 0.1);
}

.fitur .fitur-menu h5 {
  color: #161E2E;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 18px;
  margin: 20px 0px;
  padding: 0px;
}

.fitur .fitur-menu p {
  line-height: 25px;
  font-size: 12px;
  color: #68738A;
}

.banner .banner-box {
  margin: 60px 0px;
  padding: 90px 40px;
  border-radius: 10px;
  text-align: center;
  background-image: url(../img/background-donate.jpg);
}

.banner .banner-box h2 {
  color: #fff;
  margin-bottom: 30px;
}

.banner .banner-box .btn-kedua {
  margin: 0px 16px;
}

.footer {
  margin-top: 60px !important;
  padding: 60px 0px;
  background: #161E2E;
  color: #fff;
}

.footer .footer-satu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-satu img {
  margin-left: 10px;
}

.footer .footer-satu h2 {
  color: #fff;
  margin-left: 10px;
}

.footer .footer-dua p,
.footer .footer-tiga p,
.footer .footer-empat p {
  font-weight: 700;
}

.footer .footer-dua ul,
.footer .footer-tiga ul,
.footer .footer-empat ul {
  padding: 0px;
  margin: 0px;
}

.footer .footer-dua ul li,
.footer .footer-tiga ul li,
.footer .footer-empat ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 45px;
}

.footer .footer-dua ul li a,
.footer .footer-tiga ul li a,
.footer .footer-empat ul li a {
  color: #68738A;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer .footer-dua ul li a:hover,
.footer .footer-tiga ul li a:hover,
.footer .footer-empat ul li a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px !important;
    margin: 0px;
  }
  h2 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .section-heading {
    text-align: center;
  }
  .btn-utama,
  .btn-kedua {
    font-size: 14px;
    display: inline-block;
  }
  .navbar {
    padding: 10px 20px;
  }
  .navbar .navbar-nav {
    text-align: center;
  }
  .navbar .dropdown-menu {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .jumbotron {
    text-align: center;
  }
  .jumbotron .jumbotron-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .jumbotron .jumbotron-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .jumbotron .jumbotron-left h1 {
    padding-top: 30px;
  }
  .jumbotron .jumbotron-left p {
    padding: 15px 0px;
  }
  .jumbotron .jumbotron-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .jumbotron .jumbotron-right img {
    margin: 30px;
  }
  .kategori {
    margin: 60px 0px;
  }
  .bukuterbaru {
    margin: 30px 0px;
  }
  .bukuterbaru .bukuterbaru-menu {
    margin: 8px 0px;
  }
  .banner .banner-box {
    padding: 45px 20px;
    margin: 30px 0px;
  }
  .banner .banner-box .btn-utama,
  .banner .banner-box .btn-kedua {
    margin: 0px 2.5px;
  }
  .footer {
    margin-top: 30px;
  }
  .footer .footer-satu {
    margin: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-satu img {
    margin: 0px;
  }
  .footer .footer-dua,
  .footer .footer-tiga,
  .footer .footer-empat {
    margin: 10px 0px;
    text-align: center;
  }
  .footer ul li a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */